/*[GENERAL SETTINGS]*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 500px){
  #btn-menu {
    display: block;
  }
  .menu{
    display: none;
  }
}

@media (max-width: 500px) {
  .container{
  padding-left: 10px;
  padding-right: 10px;
  }
}

@media (max-width: 500px) {
  .menu a {
    display: none;
  }
}

@media (max-width: 500px) {
  .navegacao img {
    width: 200px;;
  }
}


@media (max-width: 500px) {
  .uai{
  margin-top: 35vh;
  margin-right: -10px;
  }
}


@media (max-width: 500px) {
  .banner_1 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 80px auto 0 auto;
    height: 600px;
    gap: 10px;
  }
}

.banner_1 .texto {
  align-self: center;
  max-width: 450px;
}

@media (max-width: 500px) {
  .banner_1 .texto h1{
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .banner_1 .texto p{
    display: none;
  }
}


@media (max-width: 500px) {
  .banner_2{
    display: block;
    justify-self: center;
  }

  .banner_2 p{
    margin-top: 40px;
  }

}

@media (max-width: 500px) {
#botao {
  background-color: #5f67d4;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  }
}


@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }

  .botao {
    align-self: center;
    display: block;
    justify-self: center;
  }

  button{
    font-size: 20px;
  }
}


@media (max-width: 500px) {
  .banner_2 {
    grid-template-columns: 1fr; /* vira 1 coluna */
    margin: 10px auto 0 auto;
    height: 400px;
  }
}


@media (max-width: 500px) {
  .banner_2 h2 {
    display: none;
  }
}

.imagem-Dois {
  gap: 100px;
}

@media (max-width: 500px) {
  .banner_2 .imagem {
    display: none;
  }
}

@media (max-width: 500px) {
  .banner_2 .texto {
    margin-left: 15px;
    max-width: 30ch;
  }
}

@media (max-width: 500px) {
  .banner_3 {
    grid-template-columns: 1fr; 
    margin-top: 80px auto 0 auto;
    height: 830px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .banner_3 .container-images-banner3{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0 auto;
    padding: 0;
  }
}


@media (max-width: 500px) {
  .banner_3 h2{
    text-align:center;
    font-size: 2rem;
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .banner_4 {
    margin: 440px auto 0 0;
    height: 500px;
    gap: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
    margin-bottom: 0;
  }
  .banner_4 .texto{
    display: block;
    justify-self: center;
    max-width: 30ch;
    text-align: center;
  }
  .banner_4 h2{
    font-size: 2.2rem;
     text-align: center;
  }
}

@media (max-width: 500px) {
  .banner_4 img {
    width: 100%;
    margin-top: 0;
  }
}


@media (max-width: 500px) {
  .banner_5 {
    grid-template-columns: 1fr;
    gap: 10px; 
    margin: 10px auto;
    justify-self: center;
  }
}


@media (max-width: 500px) {
  .banner_5 .texto {
    max-width: 30ch;
    text-align: center;
  }
  .banner_5 h2{
    font-size: 2.2rem;
    text-align: center;
  }
  .banner_5 p{
    text-align: center;
  }
}

@media (max-width: 500px) {
 .footer-container {
    display:none;
  }
}

@media (min-width: 600px) {
  .cont {
    display:none;
  }
}

/* menu hamburguer*/
@media (max-width: 500px) { 
    
    .menu {
        display: none; /* Esconde o menu desktop */
    }

    .navegacao {
       
        padding: 10px 20px;
    }

    
    #btn-mobile {
        display: block; 
        z-index: 3000;
    }

   
    #menu-mobile {
        display: block;
        position: fixed;
        right: -500%; 
        background-color: #ece8fd; 
        width: 100%;
        height: calc(100vh - 75px); 
        transition: right 0.3s ease-in-out;
        z-index: 2000;
    }
  
    #menu-mobile.ativo {
        right: 0; 
    }


    #menu-mobile ul {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        gap: 0px; 
        width: 100%;
    }
    
    
    #menu-mobile  li {
        border-bottom: 1px solid #ddd;
    }

    #menu-mobile li a {
        padding: 15px 0;
        display: block;
        font-size: 1.2rem;
    }

    
    .inicio-linha {
        text-decoration: none; 
        border-left: 4px solid #5f67d4; 
        display: block;
    }
}

